 .u-section-1 {
  background-image: url("/static/images/peter-broomfield-m3m-lnR90uM-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 757px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 6.875rem;
  margin: 77px 633px 0 -205px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 12px 633px 60px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-right: 365px;
    margin-left: -37px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 378px;
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 22px;
    margin-right: 32px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 32px;
    margin-left: 181px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 19px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
    margin-right: 33px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 429px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 777px;
  margin: 46px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  width: 687px;
  margin: 8px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 19px;
  margin-bottom: 36px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 262px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 8px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 8px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 8px 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 61px;
    margin-left: 82px;
    margin-right: 82px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 331px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  min-height: 451px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 451px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 130px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto 0 8px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 0 0 8px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 24px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 451px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 130px 30px 90px;
}

.u-section-3 .u-list-1 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 348px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 20px 20px;
}

.u-section-3 .u-list-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 14px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 23px auto 0 20px;
  padding: 10px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: -64px auto 0 114px;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0 114px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 12px auto 0 114px;
  padding: 7px 60px 8px;
}

.u-section-3 .u-list-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 14px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 23px auto 0 20px;
  padding: 10px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: -64px auto 0 114px;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0 114px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 12px auto 0 114px;
  padding: 7px 60px 8px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 349px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 60px;
    padding-left: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-left: 81px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 81px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 81px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-left: 81px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 81px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 81px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -44px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 36px;
    margin-right: 61px;
    margin-left: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -44px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 36px;
    margin-right: 61px;
    margin-left: 20px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 18px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 449px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -64px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -64px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 594px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: -42px;
    margin-left: 104px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 42px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: -42px;
    margin-left: 104px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 42px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 432px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 29px auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 403px;
  background-image: url("images/lamborghinicarspeedprestige38570.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 403px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 143px 0 0 -78px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 307px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 382px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 86px;
    margin-left: -75px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-4 .u-image-1 {
    min-height: 254px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 54px;
    margin-left: -140px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-4 .u-image-1 {
    min-height: 286px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-4 .u-image-1 {
    min-height: 180px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }
}